./**/*.*
./**/node_modules
./node_modules
!./yarn.lock
!./.yarnrc.yml
!./.yarn/releases/**
!./.yarn/sdks/**
!./.yarn/plugins/**
!./.npmrc
!./package.json
!./node_modules/.yarn-state.yml
!/packages/*/package.json
!/packages/*/dist/**
!/packages/*/build/**
