*
!./yarn.lock
!./.yarnrc.yml
!./.yarn/releases/**
!./.yarn/sdks/**
!./.yarn/plugins/**
!./.npmrc
!./package.json
!./node_modules/.yarn-state.yml
!./packages/lambda-api/package.json
!./packages/lambda-api/dist/**
!./packages/lambda-api/build/**
!./packages/common/package.json
!./packages/common/dist/**
!./packages/common/build/**